{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
</head>
<body>

<div class="register-block" style="margin-top: 200px; margin-left: 700px;">
    <h1>欢迎使用人力资源管理系统</h1>
    <div class="card" style="width: 400px; margin-top: 50px; margin-left: 40px;">
        <div class="card-body">
            <form action="{% url 'register_confirm' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="inputName">请输入用户名</label>
                    <input type="text" name="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputPassword">请输入密码</label>
                    <input type="password" name="password1" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputPassword">请重复输入密码</label>
                    <input type="password" name="password2" class="form-control">
                </div>
                {% if error == 0 %}
                    <p style="font-size:13px; color: red; white-space: nowrap;
                      align-items:center; line-height:40px; padding-left: 3px">用户名已被使用</p>
                {% endif %}
                {% if error == 1 %}
                    <p style="font-size:13px; color: red; white-space: nowrap;
                      align-items:center; line-height:40px; padding-left: 3px">两次密码输入不一致</p>
                {% endif %}
                {% if error == 2 %}
                    <p style="font-size:13px; color: red; white-space: nowrap;
                      align-items:center; line-height:40px; padding-left: 3px">出错了！</p>
                {% endif %}
                <button class="btn btn-primary" type="submit">注册</button>
            </form>
        </div>
    </div>
    <div class="login-choice" style="margin-top: 10px; margin-left: 60px;">
        <a href="{% url 'login' %}">返回</a>
    </div>
</div>

<script src="{% static 'jquery/jquery-3.5.1.js' %}"></script>
<script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'dist/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>